__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env
.env.*

.pytest_cache/
.ruff_cache/
.mypy_cache/

chroma_db/

memoria/*.aux
memoria/*.log
memoria/*.out
memoria/*.synctex.gz
memoria/*.toc

presentacion/*.aux
presentacion/*.log
presentacion/*.nav
presentacion/*.out
presentacion/*.snm
presentacion/*.synctex.gz
presentacion/*.toc
